#h3{
    margin-left: 100px;
}

#name{
    margin-left: 150px;
    color: Blue;
}

#desc{
    margin-left: 150px;
    color: Red;
}

#gender{
    margin-left: 150px;
    color: Green;
}

#music{
    margin-left: 150px;
    color: Yellow;
}

#car{
    margin-left: 150px;
}

#sub{
    margin-left: 150px;
}

#body{
    background-color: aqua;
}

